# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build
/dist

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
/prisma/*.db
/prisma/migrations/

# Misc
.vercel
*.log
.cache
.temp

# Local SSL certificates
*.crt
*.key
*.pem

# Package manager locks (optional, some teams prefer to commit these)
# package-lock.json
# yarn.lock 

# MongoDB
/data

# MQTT
/mosquitto/data
/mosquitto/log 